/* components/ContactForm.module.css */

.contactFormContainer {
  background-color: #f5f9ff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactForm h2 {
  color: #333;
  margin-bottom: 1.5rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 20px;
  font-size: 1rem;
}

.textarea {
  height: 50px;
  resize: none;
}


.input:focus,
.textarea:focus{
    outline-color: #619dd8;
}


.button {
  background-color: #14509e;
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #005bb5;
}
