.svgi{
    width: 100%;
    font-size: 97px;
    margin-top: -20px;
    margin-bottom: 5px;
    transform-style: preserve-3d ;
	transform: translateZ(50px);
	position: relative;
}

.hal{
    padding: 0px !important;
    width: 100% !important;
    box-shadow: none !important;
    margin: 0px !important;
    background: none !important;
    border: none !important;
    height: fit-content !important;
    color: rgb(54, 73, 98) !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
}
.hal:hover{
    box-shadow: none !important;
    outline: none !important;
}

.children{
    transform-style: preserve-3d ;
	transform: translateZ(50px);
	position: relative;
}

