@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: 0.7s;
  --vi-color: black;
  --blawhok-color: #4b4b4b;
  --main-color: #ffffff;
  --main-alt-color1: rgb(255, 255, 255);
  --main-alt-color12: rgb(249 250 251);
  --main-alt-color11: transparent;
  --muhum-color: #f8f8f8;
  --section-background: #b4a5a5;
  --mask-color: rgb(70, 76, 85);
  --blawh-color: black;
  --blawhs-color: white;
  --blawho-color: black;
  --blawhsUI-color: #00000052;
  --shadow-color: #26d5ff;
  --gray-color: #726a6e;
  --agib-color: black;
  --agib2-color: #00cdff;
  --agib-zindex: 20;
  --agib-zindex_2: 1;
  --padding-top: 110px;
  --padding-bottom: 110px;
  --border-F: 60px;
  --maskERP-color: rgb(0 21 46);
}

.darko {
  transition: 0.7s;
  --blawhsUI-color: #ffffffc8;
  --maskERP-color: white;
  --border-F: -40px;
  --main-transition: 0.3s;
  --main-color: #00cdff;
  --main-alt-color1: #00152e;
  --main-alt-color12: #00152e;
  --agib-zindex_2: 20;
  --main-alt-color11: rgb(5, 20, 38);
  --padding-top: 110px;
  --padding-bottom: 110px;
  --muhum-color: #777;
  --section-background: #ececec;
  --mask-color: rgb(6 17 31);
  --blawh-color: white;
  --blawho-color: #06111f;
  --shadow-color: #00cdff;
  --agib-color: rgb(0, 21, 46);
  --gray-color: gray;
  --agib2-color: #00cdff;
  --blawhok-color: white;
  --blawhs-color: black;
  --agib-zindex: 1;
  --vi-color: rgb(6 45 94);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* img { */
/* max-height: 100%;  */
/* } */

.agib2 {
  color: var(--agib2-color);
}

.roboto {
  font-family: var(--lato-font);
}

body {
  line-height: 25px;
  font-size: 15px;
  background: var(--main-alt-color1);
  font-weight: normal;
  overflow-x: hidden;
  transition: 0.7s;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background-color: #00cdff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(19, 178, 199);
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .responsivenav {
    top: -10px !important;
  }
  .abdullah {
    height: auto !important;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .text {
    top: 500px !important;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1280px) {
  .abdullah {
    height: 264px;
  }
}

.header {
  font-weight: 100;
  position: fixed;
  left: 0;
  font-family: system-ui;
  width: 100%;
  z-index: 1001;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 15px #000;
  /* background-color: #222222ad; */
  background-color: #000000c2;
}

.header .container ul {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .container .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}

.header .container .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

/* .header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--muhum-color);
  bottom: 0;
  left: 0px;
  width: 100%;
} */

.header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 78px;
}

.header ul li a {
  padding: 26px 24px;
  /* letter-spacing: 1px; */
  font-family: calibri;
  font-weight: 300;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 21px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  border-bottom: 2px solid transparent;
}

/* .header a {
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding: 26px 24px;
  transition: 0.3s;
  z-index: 2;
  height: 75px;
  align-items: center;
  display: flex;
} */

.header ul li a.active,
.header ul li a:hover {
  color: var(--main-color);
  top: -1px;
  border-bottom: 2px solid var(--main-color);
}

/* End Header  */
/* Responsive navbar */
.responsivenav {
  display: flex;
  width: 100%;
  height: 70vh;
  flex-direction: column;
  position: relative;
  top: -55px;
  z-index: 1000;
}

/* Responsive navbar // */

.responsivenav ul li {
  border-bottom: 2px solid;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.responsivenav ul li a {
  display: flex;
  padding: 25px 0px 25px;
  transition: 0.3s;
  transition: l;
}

.responsivenav ul li:hover a {
  padding-left: 15px;
  color: #00cdff;
}

.responsivenav ul li:hover {
  padding-left: 10px;
  border-bottom: 2px solid #00cdff;
}

.x {
  position: absolute;
  top: 25px;
  color: white;
  font-size: 20px;
  right: 27px;
  cursor: pointer;
  transition: 0.3s;
  width: 25px;
  height: 25px;
  border-radius: 7px;
}

.text {
  top: 45%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-basis: 100;
  width: 100%;
  justify-content: space-evenly;
}

.text .first {
  transition: 0.7s;
  font-size: 60px;
  color: var(--blawh-color);
  line-height: 70px;
  font-family: "__Lato_13ac2b", "__Lato_Fallback_13ac2b" !important;
}

h2 {
  transition: 0.7s;
}

.landing .text h2 {
  background: radial-gradient(circle, rgb(86 194 234), rgb(25 77 136));
  background-clip: text;
  color: transparent;
  margin-top: 0px;
  font-size: 53px;
  font-weight: 900;
  font-family: "__Lato_13ac2b", "__Lato_Fallback_13ac2b";
  line-height: 70px;
  width: fit-content;
  margin-bottom: 30px;
  position: relative;
  background-size: 200% 200%;
}

.landing .text h2.animate {
  animation: textAnimation infinite 8s linear;
}

/* .landing .text h2 {
  background-image: linear-gradient(80deg, #39a6ce, #002a98);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 49px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
  /* animation: textAnimation infinite 1s alternate; */

/* .landing .text h2::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(80deg, #39a6ce, #002a98);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 49px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  animation: textAnimation infinite 1s alternate;
} */

@keyframes textAnimation {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 200% 200%;
  }
}
/* .card{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/landing13.avif) !important;

} */
.text .no {
  transition: 0.7s;
  color: var(--blawh-color);
  max-width: 680px;
  margin: 0px auto 45px;
  margin-left: 7px;
}

.landing .text a.bad-btn:hover {
  background-color: transparent;
  color: var(--blawh-color);
  border: 1px solid;
}

/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  top: 2px;
}

/* Hide default HTML checkbox */
#theme-toggle-button input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  transition: 0.4s;
  border-radius: 30px;
  background: rgb(0, 194, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(0, 51, 128, 1) 100%
  );
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 16px;
  left: 3px;
  top: 2.4px;
  background-color: #00152e;
  transition: 0.4s;
}

/* input:checked + .slider {
  background-color: linear-gradient(114deg, rgb(25 157 167), rgb(40, 21, 236));
  border: 1px solid transparent;
 } */

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: white;
}
.text a {
  display: inline-flex;
  background: #00cdff;
  background-image: linear-gradient(
    90deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(0, 51, 128, 1) 100%
  );
  padding: 0px 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms linear;
  /* transition: background-image 1s; */
  border-radius: 60px;
}

.landing .text a.bad-btn {
  background-color: var(--blawh-color);
  background-image: none !important;
  color: var(--blawhs-color);
  border: 1px solid var(--blawh-color);
  font-weight: bold;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .text {
    width: 100%;
  }
}

/* .landing .text a.pro-btn:hover {
  transition: 1s;
  background-image: linear-gradient(114deg, rgb(25 157 167), rgb(12 0 134)) ;
} */
.landing .text a.pro-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
  display: inline-flex;
  background-image: linear-gradient(
    90deg,
    rgb(7, 161, 207) 0%,
    rgb(3, 45, 107) 100%
  );
  padding: 0px 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  /* transition: background-image 1s; */
  border-radius: 60px;
}
.landing .text a.pro-btn:hover::after {
  opacity: 1;
}
@media (max-width: 991px) {
  .landing .text {
    width: 775px;
  }

  .landing .text .first {
    font-size: 44px;
    margin-bottom: -15px;
  }

  .landing .text h2 {
    font-size: 32px;
    line-height: 1.3;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .our .box {
    padding: 75px 20px !important;
  }

  .centere {
    text-align: center !important;
  }

  .text {
    width: 300px !important;
  }

  .landing .text .first {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 40px;
  }

  .landing .text h2 {
    /* font-size: 24px;
    line-height: 1.2;
    margin-top: 35px;
    margin-bottom: 5px; */
    font-family: "__Inter_36bd41" !important;
    font-size: 28px !important;
    margin-top: -5px;
  }

  .landing .text .no {
    font-size: 17px;
    padding-top: 0px;
    margin-bottom: 20px;
    line-height: 25px;
    margin-left: 0px;
  }

  .landing .text p {
    line-height: 1.7;
  }

  .landing .text a {
    font-size: 14px;
    line-height: 25px;
    padding: 0 39px;
    margin: 10px;
    width: 175px;
  }

  .landing .text a.bad-btn {
    margin: 0;
  }
  .our .box p {
    font-size: 17px;
  }
}

/* Start Our */
.our {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  position: relative;
  margin-bottom: 100px;
}

.main-title {
  display: block;
  text-align: center;
  margin-bottom: 80px;
}

.main-title h2 {
  font-size: 36px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  width: fit-content;
  margin: auto;
}

.our .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.our .box {
  position: relative;
  text-align: center;
  background-color: #f9fafc;
  padding: 50px;
  box-shadow: 0 0 10px #ddd;
  transform-style: preserve-3d !important;
  border-radius: 6px;
}

.our .box::before {
  content: "";
  position: absolute;

  border-radius: 5px;
  top: 0px;
  width: 50.1%;
  height: 1%;
  background-color: #00cdff;
  right: 0;
  transition: var(--main-transition);
}

.our .box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  top: 0px;
  width: 50%;
  height: 1%;
  background-color: #00cdff;
  left: 0px;
  /* right: 0; */
  transition: var(--main-transition);
}

.our .box:hover::before {
  width: 0;
}

.our .box:hover::after {
  width: 0;
}

.our .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #ddd;
}

.our .box h2 {
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
  margin-top: -5px;
}
footer {
  transition: 0.7s;
  background-color: var(--agib-color);
}
.our .box p {
  background: linear-gradient(to top, #00b1ff, #123a73);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .our .tutan>p {
  font-size: 20px;
  margin-bottom: -40px;
  margin-top: 30px;
} */

@media (max-width: 340px) {
  .our .box {
    height: 372px;
    width: 295px;
  }

  .our .box h2:nth-child(2) {
    font-size: 19px;
  }

  .main-title h2 {
    font-size: 30px;
  }

  /* .tutan>p {
    font-size: 16px;
    margin-bottom: -55px;
    margin-top: 15px;
    font-weight: 400;
  } */

  .Tilt {
    display: none;
  }
}

/* End Our */

@media (max-width: 1199px) {
  .containerS .cards .splide__pagination {
    top: 530px !important;
  }

  .containerS .cards .splide__slide .card p {
    text-align: center !important;
    padding: 10px !important;
  }

  .pS {
    font-size: 10px !important;
  }

  .containerS {
    width: 100vw !important;
  }

  .splide__arrow {
    display: none !important;
  }

  .card {
    height: 60vh !important;
  }

  .containerS .cards {
    width: 125% !important;
  }

  .splide__track--nav > .splide__list > .splide__slide {
    width: calc(100%) !important;
  }

  .splide.is-initialized,
  .splide.is-rendered {
    padding: 15px !important;
  }
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100px;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.containerS {
  width: 80vw !important;
}

.splide__arrow svg path {
  fill: #00cdff;
}

.splide__pagination__page.is-active {
  background: #00cdff !important;
}

.containerS .cards .splide__slide .card {
  /* margin-bottom: 100px !important; */
  /* background-image: linear-gradient(to right, rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url(./_component/data/pexels-pixabay-45920.avif) !important; */
  background-size: cover !important;
  background-color: white !important;
  color: black !important;
}

.containerS .cards .splide__slide .card p {
  font-weight: bold;
}

/* @media (min-width:767px) {
  .containerS .cards .splide__slide .card p {
  text-align: justify !important;
  padding: 25px;
  }
} */
.splide__arrow--next {
  right: -1em !important;
}

.splide__arrow--prev {
  left: -1em !important;
}

.containerS .cards .splide__slide .card {
  border-radius: 15px;
}

.card svg {
  font-size: 100px;
}

/* Animate.css */
.animate__animated.animate__zoomInRight {
  --animate-duration: 1.5s !important;
}

.animate__animated.animate__zoomInLeft {
  --animate-duration: 1.5s !important;
}

/* Animate.css // */

/* wave */
.landing {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
  /* background: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(20 58 73) 100%); */
}

.landing::before {
  content: "";
  position: absolute;
  left: -100px;
  top: -100px;
  width: 300px;
  height: 300px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -99;
}

.landing::after {
  content: "";
  position: absolute;
  right: -100px;
  width: 300px;
  bottom: -75px;
  height: 300px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  filter: blur(100px);
  z-index: var(--agib-zindex_2);
}

.hait::before {
  content: "";
  position: absolute;
  left: -100px;
  top: -100px;
  width: 300px;
  height: 300px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  z-index: -99;
  filter: blur(125px);
}

.hait::after {
  content: "";
  position: absolute;
  right: -100px;
  width: 300px;
  bottom: -75px;
  height: 300px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  filter: blur(100px);
  z-index: 11;
}

/* .landing .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
} */

.landing .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.landing .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.landing .wave.wave3 {
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.landing .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@media (max-width: 1270px) {
  .landing .text h2 {
    font-size: 39px;
  }

  .text .first {
    font-size: 50px;
  }

  .centere {
    top: 50px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 1000px;
  }
}

.text img {
  position: relative;
  animation: up-and-down 3s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
}

@media (min-width: 1024px) {
  .maskdarkapp {
    margin-left: 35px;
  }
}
@media (max-width: 1022px) {
  .yami ul li:not(:nth-child(0)) {
    display: none !important ;
    background-color: #726a6e;
  }
  .maskdarkapp {
    position: relative;
    left: 218px;
  }
  .landing .text h2 {
    font-size: 39px;
  }

  .text a {
    font-size: 12px;
  }

  .text img {
    color: transparent;
    top: 100px;
    position: relative;
    right: -50px;
    width: 600px;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0%;
  }

  50% {
    top: 10%;
  }
}

@media (max-width: 991px) {
  .landing .text h2 {
    font-size: 39px;
  }

  .text img {
    color: transparent;
    top: 100px;
    position: relative;
    right: -25px;
    width: 600px;
  }
}

@media (max-width: 767px) {
  .text img {
    display: none;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 1000px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
}

/* wave // */

@media (max-width: 767px) {
  .maskdarkapp {
    left: 160px;
  }
}
@media (max-width: 630px) {
  .maskdarkapp {
    left: 137px;
  }
}
@media (max-width: 585px) {
  .maskdarkapp {
    left: 115px;
  }
}
@media (max-width: 545px) {
  .maskdarkapp {
    left: 95px !important;
  }
}
@media (max-width: 500px) {
  .tazbit {
    width: 160px !important;
  }
  .containerS .cards .splide__pagination {
    top: 545px !important;
  }
  .maskdarkapp {
    left: 95px !important;
  }
}
@media (max-width: 470px) {
  .maskdarkapp {
    left: 70px !important;
  }
}
@media (max-width: 410px) {
  .maskdarkapp {
    left: 45px !important;
  }
}
@media (max-width: 370px) {
  .maskdarkapp {
    left: 30px !important;
  }
}
@media (max-width: 330px) {
  .maskdarkapp {
    left: 23px !important;
  }
}

/* start meet */
/* Start Meet */
.meet {
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
  position: relative;
}

.meet::before {
  content: "";
  position: absolute;
  left: -150px;
  width: 265px;
  height: 200px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  filter: blur(100px);
  top: -170px;
  z-index: -99;
}

.meet .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.meet .box {
  position: relative;
  text-align: center;
  transition: var(--main-transition);
}

.meet .box .tutan h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #317cba;
  transition: all 300ms linear 0s;
}

.meet .box .tutan:not(h3) p,
i {
  color: var(--blawh-color);
}

.meet .box .tutan .sochial {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.meet .box .tutan .sochial a {
  font-size: 14px;
  color: #acadb0;
  margin-right: 20px;
  height: 30px;
  /* TEXT-ALIGN: CENTER; */
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  place-content: center;
  border: 1px solid #777777;
  transition: all 300ms linear 0s;
  place-items: center;
  display: flex;
}

.meet .box:hover h4 {
  color: #00cdff;
}

.meet .box img {
  border-radius: 5px;
}

/* .meet .box .tutan .sochial a:hover { 
  background-color: var(--main-color);
} */
.meet .box .tutan .sochial a:hover svg {
  transition: 0.5s;
  color: #00cdff;
}

/* End Meet */

/* skills */
.skills {
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
  background-color: var(--main-alt-color1);
}

@media (max-width: 767px) {
  .block.ad {
    margin-bottom: 30px;
  }

  .landing::after {
    right: -160px;
    height: 250px;
    bottom: -100px;
  }

  .landing::before {
    width: 150px;
    height: 250px;
    left: -67px;
    top: 0px;
    filter: blur(110px);
  }

  .hait::after {
    right: -190px;
    width: 250px;
    bottom: -195px;
    height: 250px;
  }

  .hait::before {
    left: -140px;
    top: -100px;
    width: 250px;
    height: 250px;
  }
}

.block.ad img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
}

.block.ad img:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* skills // */
/* gitA */
.gitA {
  position: absolute;
  top: -150px;
  height: 0px;
  width: 2px;
  background: linear-gradient(85deg, #00cdff, transparent);
}

.gitA_2 {
  position: absolute;
  height: 0px;
  width: 2px;
  background: linear-gradient(95deg, #00cdff, transparent);
  top: 55px;
}

.animatio {
  position: relative;
  margin-top: 120px;
}

.animatio svg {
  position: relative;
  top: 15px;
  left: -9px;
  font-size: 22px;
  z-index: 1;
}

.gitbe::before {
  content: "";
  height: 30px;
  width: 30px;
  display: block;
  background: #00cdff;
  top: -11px;
  position: relative;
  left: -13px;
  filter: blur(16px);
  border-radius: 50%;
}

.gitbe.o::before {
  background: #eb68b3 !important;
}

.ski {
  padding-top: 40px;
  padding-bottom: var(--padding-bottom) !important;
  position: relative;
}

.ski .content {
  margin-left: 35px;
  margin-top: -45px;
}

.ski .content p {
  font-size: 25px;
  padding: 5px 0px;
  width: 50%;
  line-height: 34px;
}

.ski .content .title {
  padding: 38px 0px;
}

.ski .content .title-2 {
  color: #00cdff;
  margin-top: -20px;
}

.blawh {
  color: var(--blawh-color);
}
.title-2.t,
.title-2.ue,
.title.ue {
  color: #eb68b3 !important;
}

.ski .mask {
  z-index: 2;
  position: relative;
  top: 70px;
  width: 700px;
  flex-wrap: wrap;
  left: -30px;
  height: 400px;
  background: var(--blawho-color);
  border-radius: 12px;
  border: 2px solid var(--gray-color);
  overflow: hidden;
  text-align: center;
  transition: 0.5s !important;
}

.ski.o .mask:hover {
  border-color: #eb68b3 !important;
}

.ski .mask .title {
  font-size: 40px !important;
  color: var(--main-color);
  margin-top: 35px !important;
}

.sapimg {
  position: relative;
  left: 405px;
  margin-top: 45px;
  width: 225px;
  border-radius: 5px;
}

.sapimg2 {
  top: -150px;
  position: relative;
  margin-left: 70px;
  height: 150px;
  width: 250px;
  border-radius: 5px;
}

.text1 {
  color: white;
  position: absolute;
  width: 285px;
  margin-left: 45px;
  top: 280px;
}

.text2 {
  position: absolute;
  color: white;
  right: 0;
  width: 285px;
  top: 280px;
  margin-right: 40px;
}

.ski .mask:hover {
  border-color: #00cdff;
  /* transition: 1s; */
}

.ski:not(.ski.o, .ski.t):after {
  content: "";
  position: absolute;
  right: -100px;
  width: 265px;
  height: 200px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  filter: blur(100px);
  top: 0px;
  z-index: -99;
}

/* .ski.o::before {
  content: "";
  position: absolute;
  left: -150px;
  width: 300px;
  height: 300px;
  background-color: var(--main-color);
  border-radius: 50%;
  filter: blur(100px);
  bottom: 0;
} */

@media (max-width: 1100px) {
  .ski:not(.t)::after {
    bottom: 710px !important;
  }
}

@media (max-width: 1023px) {
  .contento {
    height: 240px;
    text-align: center;
    margin-top: 60px;
  }

  .contento .title {
    bottom: 30px;
    left: 284px;
  }

  .maskat {
    top: 80px !important;
  }
}

@media (max-width: 1500px) {
  .kayip {
    left: 920px !important;
  }
  .kayip1 {
    left: 700px !important;
  }
}

@media (max-width: 767px) {
  .sura {
    border-radius: 20px;
    box-shadow: none;
    margin-bottom: -25px;
  }
  .titleo2 {
    font-size: 12px !important;
    line-height: 20px !important;
  }

  .titleo {
    font-size: 13px !important;
    line-height: 23px !important;
  }

  .contento {
    height: 300px;
  }

  .contento .title {
    display: none;
    /* left: 235px;
    bottom: -180px;
    font-size: 15px;
    position: relative;
    padding: 10px; */
  }

  .ski {
    padding-top: 10px;
  }

  .ski.o {
    padding-top: 50px;
  }

  .ski::after {
    display: none;
  }

  .ski.o::before {
    display: none;
  }

  .ski .mask {
    width: 290px;
    height: 690px;
    margin-top: -30px;
    margin-left: 23px;
  }

  .ski .mask .sapimg {
    left: 33px;
    margin-top: 46px;
    top: 275px;
  }

  .sapimg2 {
    top: -155px;
    margin-left: 20px;
  }

  .ski .mask .text2 {
    width: 245px;
    margin-right: 20px;
    top: 266px;
  }

  .ski .mask .text1 {
    width: 223px;
    margin-left: 35px;
    top: 565px;
  }

  .ski .mask .title {
    font-size: 28px !important;
  }

  .ski .content p {
    font-size: 20px;
    padding: 5px 0px;
    width: 85%;
    line-height: 34px;
  }
}

@media (max-width: 1199px) {
  .ski:not(.ski.o, .ski.t):after {
    width: 170px;
    height: 138px;
  }
}

/* gitA // */
footer {
  position: relative;
  z-index: var(--agib-zindex);
}

.ski.t::after {
  content: "";
  position: absolute;
  right: -100px;
  width: 300px;
  bottom: -89px;
  height: 300px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -99;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
/* nav ul li:not(:nth-child(0)){
  display: none ;
  background-color: #726A6E;
} */
@media (min-width: 1024px) {
  .lg\:block {
    display: block !important;
  }
}
/* .maskoy{
  position: relative;
  height: 300px;
  width: 1140px;
  background: aliceblue;
  border-radius: 40px;
  bottom: -50px;
  left: 110px;
  z-index: 99;
}

.maskoy::before{
  content: "";
  border-style: solid;
  border-width: 25px;
  border-color: transparent transparent aliceblue transparent;
  position: absolute;
  left: 114px;
  top: -50px;
} */

.yoga {
  padding: 11px;
  width: fit-content;
  color: white;
  background: linear-gradient(45deg, var(--agib2-color), #182468);
  position: absolute;
  bottom: 0;
  border-radius: 0px 25px;
  bottom: 100px;
}

.tazbit {
  width: 192px;
  padding: 0;
  margin: 0;
  left: 5px;
  position: relative;
}

@media (min-width: 1199px) {
  .videoT {
    height: auto !important;
  }
}
.youy::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  transition: 0.7s;
  background-image: linear-gradient(var(--main-alt-color11), transparent);
}
.youy::after {
  content: "";
  transition: 0.7s;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(transparent, var(--main-alt-color11));
}

.youy {
  margin-top: 100px;
}

@media (max-width: 1315px) {
  video {
    max-width: 200%;
  }
}
@media (max-width: 615px) {
  video {
    max-width: 250%;
  }
}
@media (max-width: 767px) {
  .videoT {
    height: 95%;
    rotate: 90deg;
    min-width: 869px;
    left: -335px;
    position: relative;
  }
  .youy {
    height: 110vh;
  }
  .youy::after {
    bottom: 2%;
    display: none;
  }
  .youy::before {
    top: 9px;
    z-index: 1;
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.pyramid-loader {
  position: relative;
  width: 300px;
  height: 300px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 138%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 190px;
  height: 190px;
  /* you can choose any gradient or color you want */
  /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#2bdeac, var(--agib2-color), #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#2f2585, #d8cce6, var(--agib2-color), #2bdeac);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#2f2585, #d8cce6, var(--agib2-color), #2bdeac);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#2bdeac, var(--agib2-color), #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .shadow {
  width: 190px;
  height: 190px;
  background: var(--agib2-color);
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}

.tawsit {
  position: relative;
  top: -10px;
}

.tawsitS {
  position: relative;
}

@media (max-width: 1023px) {
  .tawsit {
    position: relative;
    top: 100px;
  }
  .landing .textS {
    width: 775px;
    flex-wrap: wrap;
  }
  .landing .textA {
    width: 775px;
    flex-wrap: wrap;
  }
}

/* styles/contactForm.css */

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.contact-form div {
  margin-bottom: 1em;
}

.contact-form label {
  margin-bottom: 0.5em;
  color: #333333;
  display: block;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  padding: 0.7em;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #005bb5;
}

/* .why1::after {
  content: "";
  width: 165%;
  height: 165%;
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(0, 51, 128, 1) 100%
  );
  border-radius: 200px;
  top: -425px;
  right: -550px;
  z-index: -1;
  rotate: -31deg;
} */

.contact_title {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 53px;
  /* font-family: '__Lato_13ac2b', '__Lato_Fallback_13ac2b'; */
  line-height: 70px;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.locals {
  animation: up-and-down 3s linear infinite;
}

/* .texoI{
    color: var(--agib2-color);
} */

@media (max-width: 1023px) {
  .locals img {
    display: none;
  }
  .muzz {
    position: relative;
    top: -220px;
  }
  .footer_top {
    top: 90px !important;
  }
}

.btnop {
  background-color: #0a87cc;
}
.btnop:hover {
  background-color: #0771a2;
}

.fullu {
  width: 40%;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.fullu1 {
  width: 40%;
  border-radius: 15px;
  left: 240px;
  top: 150px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.rigo {
  right: -75px;
}

.kura::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -330px;
  width: 100%;
  height: 105%;
  background: linear-gradient(
    90deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(0, 51, 128, 1) 100%
  );
  border-radius: 0% 0% 20% 20%;
  z-index: -99;
}

.rulla {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  border-radius: 50px;
}

.whito {
  color: white;
}

.wid {
  width: 100%;
  top: -40px;
  left: 12px;
}

.yobba {
  position: relative;
  place-content: end;
}

.container.re {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rest {
  margin-top: 100px;
  margin-bottom: 100px;
}
.container.re .box div {
  display: flex;
  width: 300px;
  align-items: center;
  margin-bottom: 15px;
}

.container.re .box div {
  font-size: 23px;
  flex-wrap: wrap;
}

.container.re .box div img {
  width: 150px;
}

.container.re .box p {
  width: 300px;
  color: var(--blawh-color);
}

.container.re .box div h1 {
  margin-left: 4px;
  color: var(--blawh-color);
}
.ilk {
  transition: 0.3s;
}
.ilk:hover {
  background-color: rgb(0, 132, 255);
  color: white;
}
.ilk:hover svg {
  color: white;
}

.denel {
  color: #00b1ff;
}
.denel1 {
  color: rgb(7 43 102);
}

@media (max-width: 767px) {
  .container.re {
    flex-direction: column;
    place-content: center;
    text-align: center;
  }
  .container.re .box div {
    flex-direction: column;
  }
  .lull {
    text-align: center;
    top: 85px;
    position: relative;
  }
  .why1::after {
    top: -300px;
    right: -419px;
  }
  .kura::before {
    width: 100%;
    height: 115%;
    border-radius: 0% 0% 0% 0%;
  }
  .contact_title {
    font-size: 43px;
  }
}

@media (max-width: 991px) {
  .container.re .box {
    margin-bottom: 30px;
  }
}

.rest {
  transition: 0.3s;
  border-bottom: 1px solid white;
  padding-bottom: 60px;
  margin-bottom: var(--border-F);
}

.smooth-scroll-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

.oma {
  background-color: #079be0;
}

@media (max-width: 1025px) {
  .text .first {
    font-size: 44px;
  }
}

.landing .textS p {
  transition: 0.7s;
}
.landing .textA p {
  transition: 0.7s;
}

.act,
.of {
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  width: 161px;
  box-shadow: #1cb3ff80 0px 0px 10px;
  transition: 0.7s;
}

.of {
  color: var(--blawh-color);
}

.act {
  background: linear-gradient(to top, #0e6074, #00cdff);
  background-image: linear-gradient(-195deg, rgb(25 157 167), rgb(40, 21, 236));
  -webkit-background-clip: text;
  background-clip: text;
  left: -40px;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.textS {
  top: 45%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-basis: 100;
  width: 100%;
  justify-content: space-evenly;
}

.textA {
  top: 45%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-basis: 100;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .landing .textS {
    width: 775px;
  }
  .landing .textA {
    width: 775px;
  }
  .centere {
    /* text-align: center !important; */
  }

  .gridS {
    place-items: center;
  }
  .act {
    left: 0;
  }
}

@media (min-width: 992px) {
  .textS {
    top: 410px !important;
  }
  .textA {
    top: 475px !important;
  }
}

.landing .textS h2 {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 53px;
  font-weight: bold;
  /* font-family: "__Inter_aaf875"; */
  line-height: 70px;
  margin-bottom: 20px;
  width: fit-content;
}

.landing .textA h2 {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 53px;
  font-weight: bold;
  /* font-family: "__Inter_aaf875"; */
  line-height: 70px;
  margin-bottom: 20px;
  width: fit-content;
}

@media (max-width: 767px) {
  .textS {
    width: 300px !important;
  }
  .landing .textS h2 {
    font-size: 40px;
  }
  .landing .textS p {
    margin-bottom: -30px;
  }
  .landing .textA h2 {
    font-size: 40px;
  }
  .landing .textA p {
    margin-bottom: -30px;
  }
  /* .landing::after{
    z-index: -100;
    left: 236px;
    bottom: -175px;
  } */
  .act,
  .of {
    font-size: 13px;
    line-height: 45px;
    width: 117px;
  }
  .rulla {
    position: relative;
    top: 20px;
  }
}

@media (max-width: 400px) {
  .landing::after {
    left: 236px;
    bottom: -175px;
  }
}

.textS img {
  position: relative;
  animation: up-and-down 3s linear infinite;
}

.textA img {
  position: relative;
  animation: up-and-down 3s linear infinite;
  width: 590px;
}

.textA .centere {
  top: 145px !important ;
}
.headerE {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 49px;
  font-weight: bold;
  /* font-family: "__Inter_aaf875"; */
  line-height: 70px;
  margin-bottom: 20px;
  width: fit-content;
  margin: auto;
}
/* Base styles (unchanged) */
.container.ERP {
  margin-top: 100px;
  transition: 0.7s;
  border-radius: 20px;
  height: 780px;
  background-color: var(--maskERP-color);
}

.maskERP {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 85px 90px 110px 90px;
}

.maskERP .boxERP {
  background: var(--main-alt-color1);
  color: black;
  padding: 81px 75px 152px;
  border-radius: 12px;
  transition: 0.7s;
}

.mainERPtitle {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: bold;
  line-height: 70px;
  width: fit-content;
  margin: 0px auto 29px auto;
}

.icermask {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  place-items: center;
  position: relative;
}

.ERPcontactBtn {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  border-radius: 54.8px;
  padding: 12px 70px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}

.ERPcontactBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 54.8px;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
  display: inline-flex;
  background-image: linear-gradient(
    22deg,
    rgb(52, 152, 188) 0%,
    rgb(2, 36, 120) 100%
  );
  padding: 12px 70px;
}

.ERPcontactBtn:hover::after {
  opacity: 1;
}

.maskERP .boxERP:nth-child(2) {
  box-shadow: var(--blawh-color) 13px 22px 30px;
  position: relative;
  left: -23px;
}

.maskERP .boxERP p {
  color: var(--blawh-color);
  transition: 0.7s;
}
/* ERP /// */

/* UI */

.headerUI {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  font-size: 49px;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 20px;
  width: fit-content;
  margin: auto;
}

.container.UI {
  margin-top: 100px;
  transition: 0.7s;
  border-radius: 20px;
  height: 780px;
  background-color: var(--main-alt-color1);
  box-shadow: var(--blawhsUI-color) 0px 0px 10px;
}

.maskUI {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 85px 90px 110px 90px;
}

.maskUI .boxUI {
  background: var(--maskERP-color);
  color: black;
  padding: 81px 75px 152px;
  border-radius: 12px;
  transition: 0.7s;
}

.mainUItitle {
  background-image: linear-gradient(
    22deg,
    rgb(86 194 234) 0%,
    rgb(0 34 123) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: bold;
  line-height: 70px;
  width: fit-content;
  margin: 0px auto 29px auto;
}

.icermaskUI {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  place-items: center;
  position: relative;
}

.UIcontactBtn {
  background: linear-gradient(22deg, rgb(86 194 234) 0%, rgb(0 34 123) 100%);
  border-radius: 54.8px;
  padding: 12px 70px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
  position: relative;
}

.UIcontactBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 54.8px;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
  display: inline-flex;
  background-image: linear-gradient(
    22deg,
    rgb(52, 152, 188) 0%,
    rgb(2, 36, 120) 100%
  );
  padding: 12px 70px;
}

.UIcontactBtn:hover::after {
  opacity: 1;
}

.maskUI .boxUI:nth-child(2) {
  box-shadow: var(--blawhs-color) -10px 22px 30px;
  z-index: 1;
  position: relative;
  left: 26px;
}

.maskUI .boxUI p {
  color: var(--blawhs-color);
  transition: 0.7s;
}

.ilstU {
  z-index: 2;
  position: absolute;
  left: -164px;
  bottom: -100px;
}
.ilstE {
  z-index: 2;
  position: absolute;
  right: -164px;
  bottom: -100px;
}

@media (max-width: 767px) {
  .maskERP {
    padding: 97px 0px;
  }
  .maskUI {
    padding: 97px 0px;
  }
  .headerE {
    font-size: 40px;
  }
  .headerUI {
    font-size: 40px;
  }
  .card svg {
    display: none;
  }
  .landing .textS p {
    font-size: 14px;
  }
  .landing .textA p {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .textA .centere {
    top: 45px !important;
  }
  .maskERP {
    padding: 70px;
  }
  .maskUI {
    padding: 70px;
  }
  .ilstU {
    display: none;
  }
  .ilstE {
    display: none;
  }
  .textA img {
    width: 400px !important;
  }
}
@media (max-width: 1025px) {
  .textA .centere {
    text-align: center !important;
  }
  .tawsitS {
    display: none;
  }
  .textS {
    top: 450px !important;
  }
  .textA {
    top: 360px !important;
  }
  .maskERP {
    padding: 60px 20px;
  }
  .maskERP .boxERP {
    padding: 100px 27px;
  }
  .maskUI {
    padding: 60px 20px;
  }
  .maskUI .boxUI {
    padding: 100px 27px;
  }
  .landing .textS h2 {
    margin: auto;
  }
  .landing .textA h2 {
    margin: auto;
  }
  .maskUI .boxUI:nth-child(2) {
    left: 15px;
  }
  .UIcontactBtn {
    padding: 12px 40px;
  }
  .ERPcontactBtn {
    padding: 12px 40px;
  }
  .maskERP .boxERP:nth-child(2) {
    left: -12px;
  }
  .textS img {
    width: 300px;
    margin-top: 150px;
  }
  .textA img {
    width: 300px;
    margin-top: 150px;
  }
}

@media (max-width: 600px) {
  .maskERP {
    flex-wrap: wrap-reverse;
  }
  .icermask {
    justify-content: center;
    height: 0;
  }
  .maskERP .boxERP:nth-child(2) {
    left: 0;
  }
  .container.ERP,
  .container.UI {
    height: 110vh;
    width: 83vw;
  }
  .ERPcontactBtn {
    margin-top: 44px;
    padding: 9px 58px;
    font-size: 18px;
  }
  .theAPP {
    margin-bottom: 399px !important;
  }
  .maskERP .boxERP {
    padding: 5px 27px 55px 27px;
    height: 292px;
  }
  .mainERPtitle {
    padding: 0px;
    margin: 10px auto;
    font-size: 20px;
  }
  .maskERP .boxERP p {
    font-size: 15px;
  }
  .maskERP .boxERP {
    box-shadow: var(--blawhs-color) 0px 0px 13px !important;
    position: relative;
  }
}
@media (max-width: 440px) {
  .maskERP .boxERP p {
    font-size: 11px;
  }
  .maskUI .boxUI:nth-child(2) {
    margin-bottom: 70px;
  }
  .boxERP:nth-child(2) {
    margin-bottom: 70px;
  }
  .container.ERP,
  .container.UI {
    height: 890px;
  }
}
@media (max-width: 400px) {
  .maskERP .boxERP p {
    font-size: 10px;
  }
  .boxERP:nth-child(2) {
    margin-bottom: 100px;
  }
  .container.ERP,
  .container.UI {
    width: 100vw;
  }
}

/* UIUI Responsive */
.rulla {
  position: relative;
}
.rulla:hover::after {
  opacity: 1;
}
.rulla::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50px;
  height: 100%;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
  background-image: linear-gradient(
    90deg,
    rgb(7, 161, 207) 0%,
    rgb(3, 45, 107) 100%
  );
  padding: 0px 50px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .landing .textA h2 {
    font-size: 25px;
  }
  .rulla {
    line-height: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .landing .textA p {
    font-size: 12px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .maskUI.I {
    flex-wrap: wrap;
  }
  .icermaskUI {
    justify-content: center;
    height: 0;
  }
  .maskUI .boxUI:nth-child(2) {
    left: 0;
  }
  .UIcontactBtn {
    margin-top: 44px;
    padding: 9px 58px;
    font-size: 18px;
  }
  .maskUI .boxUI {
    padding: 5px 27px 55px 27px;
    height: 292px;
  }
  .mainUItitle {
    padding: 0px;
    margin: 10px auto;
    font-size: 20px;
  }
  .maskUI .boxUI p {
    font-size: 15px;
  }
  .maskUI .boxUI {
    box-shadow: var(--blawh-color) 0px 0px 13px !important;
    position: relative;
  }
}
@media (max-width: 440px) {
  .maskUI .boxUI p {
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  .maskUI .boxUI p {
    font-size: 10px;
  }
  .boxUI:nth-child(2) {
    margin-bottom: 60px;
  }
}

/* UIUI Responsive/// */

.contactP .landing::after {
  /* display: none; */
}

.ContactForm_button__cxA5t {
  background-image: linear-gradient(
    90deg,
    rgb(7, 161, 207) 0%,
    rgb(3, 45, 107) 100%
  ) !important;
}

.ContactForm_contactFormContainer__g_Sy1 {
  background-color: #edf4ff !important;
}
